* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    background: black;
    color: white;
    font-family: 'Lato', sans-serif;
    background-color: #000;
    min-height: 100vh;
    overflow: hidden;
}

/* ================= TIPOGRAFÍA ================= */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

p {
    font-size: 1.5rem;
    line-height: 1.6;
}
/*quitamos los efectos de estilos de la imagen de perfil , boton  */
.profile img{
    width: 50px;
    border-radius: 50%;
}
a {
    color: white;
    text-decoration: none;
}

/*  GRID  */

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 24rem 1fr;
    grid-template-rows: 7rem 1fr 5rem;

    grid-template-areas:
        "header header"
        "sidebar main"
        "footer footer";
}

/*HEADER */

.main-header {
    grid-area: header;

    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 2rem;

    background-color: #1A1A1A;
    border-bottom: 1px solid #303030;
}


/* Pinta */
.pinta {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-size: 2.8rem;
    font-weight: 800;
    color: #FF8C00;
    letter-spacing: 1px;
}

.page-title,
.back-arrow {
    display: none;
}

.profile-logo {
    margin-left: auto;

    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #303030;
}

.profile-logo-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* SIDEBAR  */

aside {
    grid-area: sidebar;
}

.navbar-mobile {
    display: none;
}

.asidebar {
    height: 100%;
    background: #1A1A1A;
    border-right: 1px solid #303030;
    padding: 2rem;
}
.sidebar-nav hr {
    margin: 3rem 0 2rem;
    height: 1px;
    border: none;
    background: #303030;
    opacity: 0.8;
    width: 100%;
} 

.sidebar-nav {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.nav-top,
.nav-bottom {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-bottom {
    margin-top: auto;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.3s;
}

.nav-item:hover {
    background: #FF8C00;
    color: #000;
}

.active {
    background: #FF8C00;
    color: #000;
}

.navbar-aside {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    justify-content: space-between;
}

.navbar-aside a {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    padding: 0.8rem 0.6rem;
    border-radius: 10px;
    gap: 0.7rem;
}

.navbar-aside a:hover {
    background-color: orange;
}

.nav-top-aside,
.nav-bottom-aside {
    display: flex;
    flex-direction: column;
}

.mobile-text-aside,
.mobile-only-aside {
    display: none;
}

/*  MAIN */

.main-content {
    grid-area: main;

    background: #000;
    color: #fff;

    padding: 3rem;
    overflow-y: auto;
    height: 100%;
}


.privacy-container {
    background: #1A1A1A;
    padding: 3.5rem;
    border-radius: 1rem;

    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    max-width: 95rem;
    margin: 0 auto;
}

/* Title  */
.privacy-container > h2 {
    font-size: 2.6rem;
    font-weight: 800;
    color: #fff;
}

/* Datetime */
.updated {
    color: #B0B0B0;
    font-size: 1.4rem;
}

/* Seccions */
.main-title {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.bg-title h2 {
    color: #FF8C00;
    font-size: 1.9rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.bg-title p {
    color: #E0E0E0;
    font-size: 1.5rem;
    line-height: 1.7;
}

/*  Button  */

.accept-btn {
    width: 90%;
    max-width: 40rem;

    margin: 2rem auto 0 auto;

    padding: 1.5rem;
    border: none;
    border-radius: 1rem;

    background: #FF8C00;
    color: #000;

    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;

    transition: 0.s;
}

.privacy-title-header {
    display: none;
}

.accept-btn:hover {
    transform: scale(1.02);
}

/*  FOOTER  */

.main-footer {
    grid-area: footer;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #1A1A1A;
    border-top: 1px solid #303030;
}

.main-footer p,
.main-footer a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
}

/*  COMPONENTES COMPARTIDOS DEL HEADER  */

.title-header-center {
    justify-content: center;
}

#header-privacy-policy {
    justify-content: space-between;
    padding-left: 64rem;
}

.title-header {
    color: orange;
    font-size: 3rem;
    font-weight: bold;
}

.search-header {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2b2b2b;
    border-radius: 25px;
    padding: 1rem 1rem;
    justify-content: space-between;
    margin-left: 0;
}

.search-header input {
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    width: 250px;
}

.search-header input::placeholder {
    color: white;
}

.search-header button {
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

/*   create post   */

.create-post-header {
    background: #000000;
    border-bottom: 1px solid #303030;
    width: calc(100% + 6rem);
    margin-left: -3rem;
    margin-top: -3rem;

    height: 5rem;

    position: relative;
    display: none;
}



.back-button-header {
    position: absolute;
    left: 2rem;
}

.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 0;
}
.create-post-form .form-group  {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    width: 50rem;
}
.create-post-form label
{
    font-size: 3rem;
    color: #fff;
    
    
}
.create-post-form input,
.create-post-form textarea {
    width: 100%;
    height: 7rem;

    background: #000000;
    border: 0.3rem solid #b9b9b9;
    color: #b9b9b9;

    padding: 0  1rem;
    
}

.create-post-form textarea {
    min-height: 10rem;
    resize: vertical;
}

#image-upload {
    border: 0.3rem solid #b9b9b9;
    color: #b9b9b9;
    padding: 1rem;
}
.main-header--create-post {
    justify-content: center;
    padding-left: 25rem;
}

.publish-button {
    background-color: #ff8c00;
    color: #000;
    border: 0.3rem solid #b9b9b9;
    padding: 1.2rem 3rem;
    font-size: 1.6rem;
    cursor: pointer;
    align-self: center;
    border-radius: 0.5rem;
    width: 30rem;

    transition: transform 0.15s ease;

}
.publish-button:hover {
    transform: translateY(-2px);
}
.publish-button:active {
    transform: translateY(0);
}

/*-------------------estilos login de dani--------------------------------------------------------*/
/* Estructura general del login */
.flex-login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.main-login{
    width: 35%;
    height: 50%;
    background-color: #2b2b2b;
    border-radius: 2px;
    border:#ccc solid 2px;
}   

.logo-login{
    display: block;
    margin: auto;
    padding: 0;
    width: 35%;
    height: 50%;
}

.welcome-section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}


.welcome-title{
    text-align: center;
    color: orange;
    font-size: 40px;
}

.login-form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 2rem;
}

.content-register-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
}

.colour.register{
    color: #ff8c00;
    text-decoration-color: #ff8c00;
}

.line-size{
    width: 50%;
    height: 2px;
    margin: 1rem auto;
}

.colour.register:hover{
    color: black;
}

.content-register-2{
    text-align: center;
    margin-top: 1rem;
    padding: 1rem;
}

.content-register-3{
    color: #ff8c00;
}

.content-register-3:hover{
    color: black;
}

/* buscar usuarios */
.back-btn {
    display: none;
}
.tabs {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 3rem;
}

.tabs a {
    color: #888;
    text-decoration: none;
    font-size: 1.5rem;
}

.tabs a.active {
    color: #ff8c00;
    background: transparent; /*para tapar lo del naranja por ahora*/
    border-bottom: 0.2rem solid #ff8c00;
    padding-bottom: 0.5rem;
}

.person-list {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.person-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #181818;
    padding: 1rem ;
    border: 0.1rem solid #2e2e2e;
}

.avatar {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background: #444;
}

.person-info {
    flex: 1;
    margin-left: 2rem;
}

.person-info h3 {
    margin-bottom: 0.5rem;
}

.person-info p {
    color: #9e9e9e;
}

.follow-btn {
    background: none;
    border: 0.2rem solid #ff8c00;
    color: #ff8c00;
    padding: 1rem 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.follow-btn:hover {
    background: #ff8c00;
    color: black;
}

.profile-avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: #444;
}

.main--header--search 
.main--content--search {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* feed abdias*/
.main-feed{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
.feed-top {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;  
}

.feed-top button {   
    border: none;
    width: 200px;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border-bottom: 3px solid #2d2b2b;
    color: white;
    background-color: #000;
}

.feed-top button:hover {
    color: orange;
    border-bottom: 3px solid orange;
}

.feed-middle{
    width: 60%;
    background-color:black;
}
.feed-article{
    margin-bottom: 2rem;
    background-color:#2b2b2b;
    padding: 0 1rem;

}
.feed-post-top{
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    justify-content:space-between;    
    border-bottom : 2px solid white;

}
.post-user-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.post-user-left img{
    width: 50px;
    border-radius: 50%;
}
.post-user-right{
    gap: 1rem;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.dropdown {
    font-size: 2rem;
    cursor: pointer;
}

.feed-post-middle{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

.feed-post-middle img{
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.feed-post-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.feed-post-bottom-reactions{
    display: flex;
    gap: 1rem;
}

.feed-post-bottom-reactions button{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 1rem 0;
    font-size: 1.5rem;
}
.game-name{
    font-size: 1.5rem;
    color: #ccc;
    
}

/*  RESPONSIVE privacy  */
@media (max-width: 768px) {

    .grid-container--privacy-policy {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "main";
    }

    .asidebar--privacy-policy,
    .footer--privacy-policy,
    .header--privacy-policy {
        display: none;
    }

    .privacy-title-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.6rem;
        font-size: 2.6rem;
    }

    .privacy-title-header {
        color: #FF8C00;
    }
    

    .main-content--privacy-policy {
        height: 100%;
        padding: 2rem;
    }

    .privacy-container {
        border-radius: 1;
        padding: 2.5rem;

    }
}



/* responsive create post */
@media (max-width: 768px) {

    .grid-container--create-post {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
        "main";
    }

    .asidebar--create-post,
    .main-footer--create-post,
    .main-header--create-post {
        display: none;
    }

    .main-content--create-post {
        padding: 2rem;
    }

    .create-post-container {
        width: 100%;
        border-radius: 1rem;
        padding: 1rem;
    }

    .create-post-header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem;
        font-size: 2.2rem;

        color: #FF8C00;
    }

    .back-button-header {
        position: absolute;
        left: 1rem;
    }

    .create-post-form .form-group {
        width: 100%;
    }

    .publish-button {
        width: 100%;
        max-width: none;
    }
}

/* responsive para pantallas menores a 786px, ajustando el tamaño del contenedor principal del login */
@media screen and (max-width: 786px){
    .main-login{
        width: 90%;
        height: auto;
        background-color: black;
        border:none;
    }
}

/* media query search profile */
@media (max-width: 768px) {

    .clase-especial-dani{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

        grid-template-areas:
            "header"
            "main";
        
    }

    .asidebar-search {
        display: none;
    }

    .main--header--profile {
        display: flex;
        flex-wrap: wrap;

        align-items: center;
        justify-content: space-between;

        padding: 1rem;
        height: 100%;
    }

  
    .back-btn {
        display: block;

        color: white;
        font-size: 2rem;

        text-decoration: none;
    }

  
    .profile {
        display: none;
    }

  
    .title-header-search {
        font-size: 0;

        flex: 1;
        text-align: center;

        margin: 0;
    }

    .title-header-search::after {
        content: "Buscar Usuarios";

        font-size: 2rem;
        font-weight: bold;

        color: #ff8c00;

        white-space: nowrap;
    }

  
    .search-main-user {
        order: 4;

        width: 100%;
        max-width: 100%;
        box-sizing: border-box;

        margin-top: 1rem;
        margin-bottom: 2.75rem;

        display: flex;
        align-items: center;
        gap: 0;

        background: #1c1c1c;
        border: 1px solid #444;
        border-radius: 25px;
        padding: 0.2rem;
    }

    .search-main-user input {
        flex: 1;
        min-width: 0;

        padding: 0.9rem 1rem;

        border: none;
        border-radius: 25px 0 0 25px;

        background: transparent;
        color: white;
        width: auto;
    }

    .search-main-user button {
        flex-shrink: 0;
        padding: 0.9rem 1rem;

        border: none;
        border-radius: 0 25px 25px 0;

        background: transparent;
        color: #aaa;

        cursor: pointer;
    }

  
    .tabs {
        display: none;
    }

  
    .main--content--search {
        width: 100%;
        margin: 0;
        padding: 3.5rem 1rem 1rem;
    }

  
    .person-list {
        width: 90%;
        padding: 0;
        margin: 2rem auto 0;
    }

    .person-card {
        display: flex;
        flex-direction: row;

        align-items: center;
        gap: 1rem;

        padding: 1rem;
    }

    .avatar {
        width: 45px;
        height: 45px;

        flex-shrink: 0;
    }

    .person-info {
        flex: 1;
        margin-left: 0;
    }

    .person-info h3 {
        font-size: 1.3rem;
        margin-bottom: 0.2rem;
    }

    .person-info p {
        font-size: 1.1rem;
    }

    .follow-btn {
        width: auto;
        min-width: 90px;

        padding: 0.6rem 1rem;

        margin-left: auto;
    }

    .main-footer-search {
        display: none;
        font-size: 1.2rem;
        padding: 1rem;
    }
}

/*responsive feed */
@media screen and (max-width: 768px){
    .grid-container-feed{
        overflow-x: hidden;
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6rem 1fr 6rem;
        grid-template-areas: 
        "heade"
        "main"
        "aside";
    }
    .main-header-feed{
        grid-area: heade;
    }
    .asidebar-feed{
        display: none;
    }
    .navbar-mobile{
        grid-area: aside;
    }
    .navbar-mobile{
        height: 6rem;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .navbar-mobile a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .icon-mobile{
    font-size: 1.5rem;
    }
    
    .navbar-mobile span{
        font-size: 1.5rem;
    }
    .navbar-mobile a.create-btn{
        position: relative;
        bottom: 1.5rem;
    }
    .create-btn-icon{
        font-size:5rem ;
        color: orange;
        background:black;
        border-radius: 60%;
        width: 50px;
        height: 50px;
    }
    
    .main-content-feed{
        grid-area: main;
    }
    .main-footer-feed{
        display: none;
    }
    /*empezamos con header*/
    .main-header-feed{
        align-items: center;
        display: grid;
        grid-template-columns: 1fr 4rem ;
        grid-template-areas:
        "title search";
    }
    .title-header{
        grid-area: title;
        display: flex;
        justify-content: center;
    }
    .search-header{
        grid-area: search;
        display: flex;
        background: transparent;
    }
    .search-header input {
        display: none;
    }
    .search-header button {
        background: none;
        border: none;
        cursor: pointer;
    }
    .profile{
        display: none;
    }
  /*mian feed*/
    .main-feed{
        width: 100%;
    }
    .feed-top{
        width: 80%;
    }
    .feed-top button {   
        width: 10rem;
    }
    .feed-middle{
        width: 90%;
    }
    .feed-article{
        width: 100%;
    }
    .feed-post-bottom-reactions button{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}


/* Profile */

.perfil-header{
    background:#111;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:30px;
}

.banner{
    width:100%;
    height:250px;
}

.banner img{
    width:100%;
    height:100%;
    object-fit:cover;
}

/* buttons Ema */

.perfil-botones{
    position:absolute;
    top:20px;
    right:30px;
}

.perfil-botones button{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

.perfil-info-container{
    position:relative;
    padding:80px 30px 30px;
}

.perfil-avatar{
    position:absolute;
    top:-75px;
    left:30px;

    width:150px;
    height:150px;

    border-radius:50%;
    overflow:hidden;

    border:5px solid #111;
    background:#222;
}

.perfil-avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
}

.perfil-datos{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.perfil-datos h2{
    font-size:2rem;
}

.descripcion{
    max-width:600px;
    color:#ccc;
}

.perfil-extra{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    color:#aaa;
}

.perfil-botones{
    position:absolute;
    top:20px;
    right:30px;
}

.perfil-botones button{
    padding:10px 20px;
    border:none;
    border-radius:6px;
    cursor:pointer;
}

/* Stats */

.estadisticas{
    display:flex;
    gap:50px;
    margin-top:20px;
}

.estadisticas div{
    text-align:center;
}

.estadisticas h3{
    font-size:1.8rem;
}

/* mediaquerie Profile */
@media (max-width: 768px){

    .perfil-info-container{
        padding-top:90px;
        text-align:center;
    }

    .perfil-avatar{
        left:50%;
        transform:translateX(-50%);
    }

    .perfil-botones{
        position:static;
        margin-bottom:20px;
    }

    .perfil-extra{
        justify-content:center;
    }

    .estadisticas{
        flex-direction:column;
        gap:15px;
    }

    .post-user{
        flex-direction:column;
        gap:15px;
    }

    .post-user-right{
        width:100%;
        justify-content:center;
    }

    .post-footer-reactions{
        justify-content:center;
    }
}
